<!DOCTYPE html>
<html>
  	<head>
    	<title><%= title %></title>
    	<link rel="stylesheet" href="/css/style.css" />
  	</head>
  	<body>
  		<div id="root">
	    	<div id="header">
    			<img class="img_right" src="/images/header.jpg"/>
	    		<div class="buttons_panel">
					<a href="http://www.facebook.com/profile.php?id=100004703613507" target="_blank"><img src="/images/fb_hover.png"/></a>
					<a href="skype:dekogroup"><img src="/images/skype_hover.png"/></a>
	    		</div>
	    		<div class="logo_desc">
					<img class="logo" src="/images/logo.png"/><br/>
	    			Be protected with us
	    		</div>
	    	</div>
	    	<div class="menu_items">
	    		<div class="item" onclick="document.location.assign('/')">
    				მთავარი
	    		</div>
	    		<div class="item" onclick="document.location.assign('/team')">
    				ჩვენი გუნდი
	    		</div>
	    		<div class="item" onclick="document.location.assign('/partners')">
    				ჩვენი პარტნიორები
	    		</div>
	    		<div class="item" onclick="document.location.assign('/work')">
    				საქმიანობის სფერო
	    		</div>
	    		<div class="item" onclick="document.location.assign('/links')">
    				ბმულები
	    		</div>
	    		<div class="item active" onclick="document.location.assign('/contact')">
    				კონტაქტი
	    		</div>
    		</div>
	    	<div id="content2">
	    		შ.პ.ს. “DEKO GROUP”<br/>
				<br/>
				მის.: მარჯანიშვილის 21
				<br/>
				საქართველო, თბილისი 0102<br/>
				<br/>
				ტელ: 032-2-95-41-59<br/>
				<br/>
				მობ: 551-41-11-16<br/>
				<br/>
				გაყიდვების მენეჯერი: 592-58-49-49<br/>
				<br/>
				ელ. ფოსტა: <a href="mailto:dekogroup@mail.com">dekogroup@mail.com</a><br/>
				<br/>
				<br/>
				<a href="http://www.facebook.com/profile.php?id=100004703613507" target="_blank"><img src="/images/fb_hover.png"/></a>
				<a href="skype:dekogroup"><img src="/images/skype_hover.png"/></a>
				<br/>
				<br/>
				<img src="/images/map.png" />
	    	</div>
	    	<div class="copyright">
	    		<div class="counter">
					<!-- TOP.GE COUNTER CODE -->
					<script language="JavaScript" type="text/javascript" src="http://counter.top.ge/cgi-bin/cod?100+87980"></script>
					<noscript>
					<a target="_top" href="http://counter.top.ge/cgi-bin/showtop?87980">
					<img src="http://counter.top.ge/cgi-bin/count?ID:87980+JS:false" border="0" alt="TOP.GE" /></a>
					</noscript>
					<!-- / END OF COUNTER CODE -->
	    		</div>
	    		All rights reserved © DEKO GROUP LTD
	    	</div>
    	</div>
  	</body>
</html>