<!DOCTYPE html>
<html>
  	<head>
    	<title><%= title %></title>
    	<link rel="stylesheet" href="/css/style.css" />
  	</head>
  	<body>
  		<div id="root">
	    	<div id="header">
    			<img class="img_right" src="/images/header.jpg"/>
	    		<div class="buttons_panel">
					<a href="http://www.facebook.com/profile.php?id=100004703613507" target="_blank"><img src="/images/fb_hover.png"/></a>
					<a href="skype:dekogroup"><img src="/images/skype_hover.png"/></a>
	    		</div>
	    		<div class="logo_desc">
					<img class="logo" src="/images/logo.png"/><br/>
	    			Be protected with us
	    		</div>
	    	</div>
	    	<div id="content">
	    		<div class="bigmenu_items">
		    		<div class="item">
		    			<a href="/team"><img src="/images/gundi.png" /></a>
		    			<div class="description">
		    				ჩვენი გუნდი
		    			</div>
		    		</div>
		    		<div class="item">
		    			<a href="/partners"><img src="/images/partniorebi.jpg" /></a>
		    			<div class="description">
		    				ჩვენი პარტნიორები
		    			</div>
		    		</div>
		    		<div class="item">
		    			<a href="/work"><img src="/images/sakmianobis_sfero.jpg" /></a>
		    			<div class="description">
		    				საქმიანობის სფერო
		    			</div>
		    		</div>
		    		<div class="item">
		    			<a href="/links"><img src="/images/bmulebi.jpg" /></a>
		    			<div class="description">
		    				ბმულები
		    			</div>
		    		</div>
		    		<div class="item">
		    			<a href="/contact"><img src="/images/contact.jpg" /></a>
		    			<div class="description">
		    				კონტაქტი
		    			</div>
		    		</div>
	    		</div>
	    	</div>
    	</div>
  	</body>
</html>