<!DOCTYPE html>
<html>
  	<head>
    	<title><%= title %></title>
    	<link rel="stylesheet" href="/css/style.css" />
  	</head>
  	<body>
  		<div id="root">
	    	<div id="header">
    			<img class="img_right" src="/images/header.jpg"/>
	    		<div class="buttons_panel">
					<a href="http://www.facebook.com/profile.php?id=100004703613507" target="_blank"><img src="/images/fb_hover.png"/></a>
					<a href="skype:dekogroup"><img src="/images/skype_hover.png"/></a>
	    		</div>
	    		<div class="logo_desc">
					<img class="logo" src="/images/logo.png"/><br/>
	    			Be protected with us
	    		</div>
	    	</div>
	    	<div class="menu_items">
	    		<div class="item" onclick="document.location.assign('/')">
    				მთავარი
	    		</div>
	    		<div class="item" onclick="document.location.assign('/team')">
    				ჩვენი გუნდი
	    		</div>
	    		<div class="item" onclick="document.location.assign('/partners')">
    				ჩვენი პარტნიორები
	    		</div>
	    		<div class="item" onclick="document.location.assign('/work')">
    				საქმიანობის სფერო
	    		</div>
	    		<div class="item" onclick="document.location.assign('/links')">
    				ბმულები
	    		</div>
	    		<div class="item" onclick="document.location.assign('/contact')">
    				კონტაქტი
	    		</div>
    		</div>
	    	<div id="content2">
	    		<a href="http://www.tcc.gov.ge" target="_blank">თბილისის საქალაქო სასამართლო</a><br/>
	    		<br/>
	    		<a href="http://tbappeal.court.ge" target="_blank">თბილისის სააპელაციო სასამართლო</a><br/>
	    		<br/>
	    		<a href="http://www.supremecourt.ge" target="_blank">საქართველოს უზნაესი სასამართლო</a><br/>
	    		<br/>
	    		<a href="http://Kutaisi.court.gov.ge" target="_blank">ქუთაისის საქალაქო სასამართლო</a><br/>
	    		<br/>
	    		<a href="http://www.kutaisiappeal.court.gov.ge" target="_blank">ქუთაისის სააპელაციო სასამართლო</a><br/>
	    		<br/>
	    		<a href="http://www.constcourt.ge" target="_blank">საქართველოს საკონსტიტუციო სასამართლო</a><br/>
	    		<br/>
	    		<a href="http://www.gba.ge" target="_blank">საქართველოს ადვოკატთა ასოციაცია</a><br/>
	    		<br/>
	    		<a href="http://www.parliament.ge" target="_blank">საქართველოს პარლამენტი</a><br/>
	    		<br/>
	    		<a href="http://www.justice.gov.ge" target="_blank">საქართველოს იუსტიციის სამინისტრო</a><br/>
	    		<br/>
	    		<a href="http://www.napr.gov.ge" target="_blank">საჯარო რეესტრის ეროვნული სააგენტო</a><br/>
	    		<br/>
	    		<a href="http://www.ila-hq.org" target="_blank">ადვოკატთა საერთაშორისო ასოციაცია</a><br/>
	    		<br/>
	    		<a href="http://www.echr.coe.int" target="_blank">ადამიანის უფლებათა ევროპული სასამართლო</a><br/>
	    		<br/>
	    		<a href="http://www.president.gov.ge" target="_blank">პრეზიდენტის ადმინისტრაცია</a><br/>
	    		<br/>
	    		<a href="http://www.president.gov.ge" target="_blank">პრეზიდენტის ადმინისტრაცია</a><br/>
	    		<br/>

	    	</div>
    	</div>
  	</body>
</html>