<!DOCTYPE html>
<html>
  	<head>
    	<title><%= title %></title>
    	<link rel="stylesheet" href="/css/style.css" />
    	<style>
    		.partners {
    			
    		}
    		.partners .item {
    			margin: 22px 0 0 0;
				padding: 0 0 20px 0;
				width: 600px;
				background: #FBFBFB;
				border: 1px solid #EAEAEA;
				overflow: hidden;
    		}
    		.partners .item h2 {
    			margin: 0 0 18px 0;
				padding: 0 0 0 19px;
				height: 40px;
				background: url("/images/about-us-right-side-header-bg.png") top left repeat-x;
				border-bottom: 1px solid #D7D7D7;
				color: #707070;
				font-size: 0.95em;
				line-height: 40px;
				font-weight: normal;
    		}
    		.partners .item img {
    			display: block;
				margin: 0 18px 0 18px;
				padding: 12px;
				border: 1px solid #D2D2D2;
				background: white;
				float: left;
    		}
    		.partners .item p {
    			margin: 0;
				padding: 8px 0 0 18px;
				color: #5A5A5A;
				line-height: 15px;
			}
    		.partners .item a {
    			color: #B40006;
				font-weight: normal;
				text-decoration: none;
    		}
    		.partners .item .extra_info {
    			margin-top: 10px;
    			margin-left: 154px;
    		}
    	</style>
  	</head>
  	<body>
  		<div id="root">
	    	<div id="header">
    			<img class="img_right" src="/images/header.jpg"/>
	    		<div class="buttons_panel">
					<a href="http://www.facebook.com/profile.php?id=100004703613507" target="_blank"><img src="/images/fb_hover.png"/></a>
					<a href="skype:dekogroup"><img src="/images/skype_hover.png"/></a>
	    		</div>
	    		<div class="logo_desc">
					<img class="logo" src="/images/logo.png"/><br/>
	    			Be protected with us
	    		</div>
	    	</div>
	    	<div class="menu_items">
	    		<div class="item" onclick="document.location.assign('/')">
    				მთავარი
	    		</div>
	    		<div class="item" onclick="document.location.assign('/team')">
    				ჩვენი გუნდი
	    		</div>
	    		<div class="item active" onclick="document.location.assign('/partners')">
    				ჩვენი პარტნიორები
	    		</div>
	    		<div class="item" onclick="document.location.assign('/work')">
    				საქმიანობის სფერო
	    		</div>
	    		<div class="item" onclick="document.location.assign('/links')">
    				ბმულები
	    		</div>
	    		<div class="item" onclick="document.location.assign('/contact')">
    				კონტაქტი
	    		</div>
    		</div>
	    	<div id="content2">
	    		<div class="partners">
	    			<div class="item">
						<h2>„გეოლაბი“</h2>
						<img src="/images/partners/geolab.png" width="110">
						<div class="extra_info">
							<p>„გეოლაბი“–ში მოგემსახურებათ მაღალი კვალიფიკაციის ექიმები და ლაბორანტები. ლაბორატორია მრავალპროფილურია და აღჭურვილია Roche ფირმის cobas–ის ტექნოლოგიური ხაზის და Sysmex–ის ანალიზატორებით.</p>
							<br/>
							<br/>
							<p>მის: წინანდლის ქ#9</p>
							<p>ტელ.+995 32 2144736, მობ. +995 577101949</p>
							<p>e-mail: <a href="mailto:centralgeolab@yahoo.com" target="blank">centralgeolab@yahoo.com</a></p>
						</div>
					</div>
	    			<div class="item">
						<h2>„ენმედიც“</h2>
						<img src="/images/partners/nmedic.jpeg" width="110">
						<div class="extra_info">
							<p>კლინიკა „ენმედიც“–ის ლაბორატორია, ატარებს გამოკვლევებს ისეთ დარგებში, როგორიცაა: ბიოქიმია, იმუნოლოგია და სხვა. კლინიკა დაკომპლექტებულია ბოლო თაობის ანალიზატორებით. <br/>მათ შორისაა: Abbott, Seimens Healthcare Diagnostics და სხვა.</p>
							<br/>
							<br/>
							<p>საიტი: <a href="www.enmedic.ge" target="blank">www.enmedic.ge</a></p>
							<p>facebook: <a href="https://www.facebook.com/pages/Enmedic-Clinic/277864772271002" target="blank">enmedic clinic</a></p>
						</div>
					</div>
	    			<div class="item">
						<h2>„მაღალი სამედიცინო ტექნოლოგიების ცენტრი, საუნივერსიტეტო კლინიკა“</h2>
						<img src="/images/partners/htmclinik.jpg" width="110">
						<div class="extra_info">
							<p>მაღალი სამედიცინო ტექნოლოგიების ცენტრის, საუნივერსიტეტო კლინიკის მიზანია, ჩვენმა თანამემამულეებბა მიიღონ მაღალი ხარისხის სამედიცინო მომსახურებას შემდეგ დარგებში: ნეიროქირურგიული, ენდოვასკულური ნეიროქირურგიის, ზოგადი ქირურგია, რადიაციული ონკოლოგიის, რადიაციული ონკოლოგიის, უროლოგიის, და სხვა.
							<br/>
							<br/>
							<p>საიტი: <a href="www.htmclinik.com" target="blank">www.htmclinik.com</a></p>
						</div>
					</div>
	    		</div>
	    		<br/>
	    		<br/>
	    		<br/>
	    		<br/>
	    		<br/>
	    	</div>
	    	<div class="copyright">
	    		<div class="counter">
					<!-- TOP.GE COUNTER CODE -->
					<script language="JavaScript" type="text/javascript" src="http://counter.top.ge/cgi-bin/cod?100+87980"></script>
					<noscript>
					<a target="_top" href="http://counter.top.ge/cgi-bin/showtop?87980">
					<img src="http://counter.top.ge/cgi-bin/count?ID:87980+JS:false" border="0" alt="TOP.GE" /></a>
					</noscript>
					<!-- / END OF COUNTER CODE -->
	    		</div>
	    		All rights reserved © DEKO GROUP LTD
	    	</div>
    	</div>
  	</body>
</html>