<!DOCTYPE html>
<html>
  	<head>
    	<title><%= title %></title>
    	<link rel="stylesheet" href="/css/style.css" />
  	</head>
  	<body>
  		<div id="root">
	    	<div id="header">
    			<img class="img_right" src="/images/header.jpg"/>
	    		<div class="buttons_panel">
					<a href="http://www.facebook.com/profile.php?id=100004703613507" target="_blank"><img src="/images/fb_hover.png"/></a>
					<a href="skype:dekogroup"><img src="/images/skype_hover.png"/></a>
	    		</div>
	    		<div class="logo_desc">
					<img class="logo" src="/images/logo.png"/><br/>
	    			Be protected with us
	    		</div>
	    	</div>
	    	<div class="menu_items">
	    		<div class="item" onclick="document.location.assign('/')">
    				მთავარი
	    		</div>
	    		<div class="item" onclick="document.location.assign('/team')">
    				ჩვენი გუნდი
	    		</div>
	    		<div class="item" onclick="document.location.assign('/partners')">
    				ჩვენი პარტნიორები
	    		</div>
	    		<div class="item" onclick="document.location.assign('/work')">
    				საქმიანობის სფერო
	    		</div>
	    		<div class="item" onclick="document.location.assign('/links')">
    				ბმულები
	    		</div>
	    		<div class="item" onclick="document.location.assign('/contact')">
    				კონტაქტი
	    		</div>
    		</div>
	    	<div id="content2">
	    		Not ready yet.
	    	</div>
    	</div>
  	</body>
</html>