<!DOCTYPE html>
<html>
  	<head>
    	<title><%= title %></title>
    	<link rel="stylesheet" href="/css/style.css" />
  	</head>
  	<body>
  		<div id="root">
	    	<div id="header">
    			<img class="img_right" src="/images/header.jpg"/>
	    		<div class="buttons_panel">
					<a href="http://www.facebook.com/profile.php?id=100004703613507" target="_blank"><img src="/images/fb_hover.png"/></a>
					<a href="skype:dekogroup"><img src="/images/skype_hover.png"/></a>
	    		</div>
	    		<div class="logo_desc">
					<img class="logo" src="/images/logo.png"/><br/>
	    			Be protected with us
	    		</div>
	    	</div>
	    	<div class="menu_items">
	    		<div class="item" onclick="document.location.assign('/')">
    				მთავარი
	    		</div>
	    		<div class="item" onclick="document.location.assign('/team')">
    				ჩვენი გუნდი
	    		</div>
	    		<div class="item" onclick="document.location.assign('/partners')">
    				ჩვენი პარტნიორები
	    		</div>
	    		<div class="item active" onclick="document.location.assign('/work')">
    				საქმიანობის სფერო
	    		</div>
	    		<div class="item" onclick="document.location.assign('/links')">
    				ბმულები
	    		</div>
	    		<div class="item" onclick="document.location.assign('/contact')">
    				კონტაქტი
	    		</div>
    		</div>
	    	<div id="content2">
				<p style="text-align: justify">იურიდიული კომპანია DEKO GROUP (დეკო ჯგუფი) დაარსების დღიდან მოტივირებულია ადამიანის უფლებების და მათი
				ინტერესების დასაცავად. კლიენტებს სთავაზობს მომსახურეობის სრულ სპექტრს, რომელიც მოიცავს: ნებისმიერი სახის
				იურიდიულ კონსულტაციას, ხელშეკრულების შედგენა/ანალიზი, პროცესზე მონაწილეობა, საინფორმაციო უზრუნველყოფა,
				წარმომადგენლობა სახელმწიფო ორგანოებში, დოკუმენტაციის მოძიება–მოპოვება, უძრავ მოძრავ ქონებასთან დაკავშირებული
				ყველა საკითხის მოგვარება და სხვა. ჩვენ წარმოვადგენთ კლიენტის ინტერესებს სამართლის შემდეგ დარგებში:</p>
				<ul>
					<li>სამოქალაქო სამართალი</li>
					<li>ადმინისტრაციული სამართალი</li>
					<li>სისხლის სამართალი</li>
					<!--<li>საგადასახადო სამართალი</li>-->
					<li>სამეწარმეო სამართალი</li>
					<li>სადაზღვევო სამართალი</li>
					<li>შრომითი სამართალი</li>
					<!--<li>კონსტიტუციური სამართალი</li>-->
					<!--<li>საერთაშორისო კერძო სამართალი</li>-->
					<li>უძრავი ქონება და მშენებლობა</li>
					<li>ბანკებთან ურთიერთობა</li>
					<li>საარბიტრაჟო სამართალი</li>
					<!--<li>გაკოტრების სამართალი</li>-->
					<li>პრივატიზაცია</li>
				</ul>
				<br/>
				<div style="font-weight: bold; font-size: 14px;">იყოლიე პირადი იურისტი!</div>
				<br/>
				<!-- <b>ფიზიკური პირებისთვის, პირველადი შენატანი 15 ლარი, შემდგომ ყოველ 2 თვეში ერთხელ 15 ლარი. საოჯახო მომსახურეობა 2 თვეში ერთხელ 30 ლარი. (არაუმეტეს 4 წევრისა)</b>
				<ul>
					<li>ნებისმიერი სახის იურიდიული კონსულტაცია</li>
					<li>ნებისმიერი ხელშეკრულების შედგენა/ანალიზი</li>
					<li>პროცესზე მონაწილეობა (მოსარჩელედ) (200–500 ლარი დავის სირთულიდან გამომდინარე)</li>
					<li>პროცესზე მონაწილეობა (მოპასუხედ) (200–500 ლარი დავის სირთულიდან გამომდინარე)</li>
					<li>მოლაპარაკებები ადვოკატის მონაწილეობით</li>
					<li>საინფორმაციო უზრუნველყოფა</li>
					<li>წარმომადგენლობა სახელმწიფო ორგანოებში</li>
					<li>დოკუმენტაციის მოძიება–მოპოვება</li>
					<li>შრომითი ხელშეკრულების შედგენა</li>
					<li>პროცესში მონაწილეობა (მესამე პირად)</li>
					<li>უძრავ მოძრავ ქონებასთან დაკავშირებული ყველა საკითხის მოგვარება</li>
				</ul>
				<br/>
				<b>ფიზიკური პირებისთვის, პირველადი შენატანი 25 ლარი, შემდგომ ყოველ 2 თვეში ერთხელ 25 ლარი. საოჯახო მომსახურეობა 2 თვეში ერთხელ 50 ლარი. (არაუმეტეს 4 წევრისა)</b>
				<ul>
					<li>ნებისმიერი სახის იურიდიული კონსულტაცია</li>
					<li>ნებისმიერი ხელშეკრულების შედგენა/ანალიზი</li>
					<li>პროცესზე მონაწილეობა (მოსარჩელედ)</li>
					<li>პროცესზე მონაწილეობა (მოპასუხედ)</li>
					<li>მოლაპარაკებები ადვოკატის მონაწილეობით</li>
					<li>საინფორმაციო უზრუნველყოფა</li>
					<li>წარმომადგენლობა სახელმწიფო ორგანოებში</li>
					<li>დოკუმენტაციის მოძიება–მოპოვება</li>
					<li>შრომითი ხელშეკრულების შედგენა</li>
					<li>პროცესში მონაწილეობა (მესამე პირად)</li>
					<li>უძრავ მოძრავ ქონებასთან დაკავშირებული ყველა საკითხის მოგვარება</li>
				</ul> -->
				<br/>
				<b>იურიდიული პირებისთვის სამართლებრივი მომსახურეობა თვეში 150-350 ლარი</b>
				<ul>
					<li>ნებისმიერი სახის იურიდიული კონსულტაცია</li>
					<li>ნებისმიერი ხელშეკრულების შედგენა/ანალიზი</li>
					<li>პროცესზე მონაწილეობა (მოსარჩელედ) + (200–500 ლარი დავის სირთულიდან გამომდინარე)</li>
					<li>პროცესზე მონაწილეობა (მოპასუხედ) + (200–500 ლარი დავის სირთულიდან გამომდინარე)</li>
					<li>მოლაპარაკებები ადვოკატის მონაწილეობით</li>
					<li>საინფორმაციო უზრუნველყოფა</li>
					<li>წარმომადგენლობა სახელმწიფო ორგანოებში</li>
					<li>დოკუმენტაციის მოძიება–მოპოვება</li>
					<li>შრომის შინაგანაწესი და შრომითი ხელშეკრულების შედგენა</li>
					<li>სადამფუძნებლო დოკუმენტაციის სრულყოფა/შედგენა</li>
					<li>პროცესში მონაწილეობა (მესამე პირად) + (200–500 ლარი დავის სირთულიდან გამომდინარე)</li>
				</ul>
				<br/>
				<b>ფიზიკური პირებისთვის სამართლებრივი მომსახურეობა (პირადი იურისტი) თვეში 15 ლარად</b>
				<ul>
					<li>ნებისმიერი სახის იურიდიული კონსულტაცია</li>
					<li>ნებისმიერი ხელშეკრულების შედგენა/ანალიზი</li>
					<li>პროცესზე მონაწილეობა (მოსარჩელედ) (200–500 ლარი დავის სირთულიდან გამომდინარე)</li>
					<li>პროცესზე მონაწილეობა (მოპასუხედ) (200–500 ლარი დავის სირთულიდან გამომდინარე)</li>
					<li>მოლაპარაკებები ადვოკატის მონაწილეობით</li>
					<li>საინფორმაციო უზრუნველყოფა</li>
					<li>წარმომადგენლობა სახელმწიფო ორგანოებში</li>
					<li>დოკუმენტაციის მოძიება–მოპოვება</li>
					<li>შრომითი ხელშეკრულების შედგენა</li>
					<li>პროცესში მონაწილეობა (მესამე პირად) (200–500 ლარი დავის სირთულიდან გამომდინარე)</li>
					<li>უძრავ მოძრავ ქონებასთან დაკავშირებული ყველა საკითხის მოგვარება</li>
				</ul>
				<br/>
	    	</div>
	    	<div class="copyright">
	    		<div class="counter">
					<!-- TOP.GE COUNTER CODE -->
					<script language="JavaScript" type="text/javascript" src="http://counter.top.ge/cgi-bin/cod?100+87980"></script>
					<noscript>
					<a target="_top" href="http://counter.top.ge/cgi-bin/showtop?87980">
					<img src="http://counter.top.ge/cgi-bin/count?ID:87980+JS:false" border="0" alt="TOP.GE" /></a>
					</noscript>
					<!-- / END OF COUNTER CODE -->
	    		</div>
	    		All rights reserved © DEKO GROUP LTD
	    	</div>
    	</div>
  	</body>
